<!doctype html>
<html lang="en">
<head>
	<!--
	                                                               ~
	                                                            ,++?I
	                                                          ++++?III
	                                                       =++++++IIIII
	                                                     ++++++++?IIIIII
	                                                  +++++++++++IIIIIII?
	                                               :++++++++++++IIIIIIII??
	                                             +++++++++++++++IIIIIIIIII?
	                                             I?++++++++++++?IIIIIIIIIIII
	                                             IIII?+++++++++IIIIIIIIIIIII?
	                                             :IIII?II+++++IIIIIIIIIIIIIIII
	                                              IIIIIIII?IIIIIIIIIIIIIIIIIII?
	                                              IIIIIIIIIII777777777II?IIIIII?
	                                              ,IIIIIIIIII777777777777777777,
	                                               IIIIIIIIII77777777777777777
	                                               ?IIIIIIII7777777777777777=
	                                               ,IIIIIIII777777777777777
	                                                ?IIIIIII77777777777777
	                                                IIIIIII7777777777777~
	                                                ,IIIIII77777777777I
	                                                 IIIIII7777777777I
	                                                 ?IIIII777777777:
	                                                 ,IIII777777777
	                                                  IIII7777777I
	          :77777777777777,                        IIII777777
	      =777777~           I77:                      II777777
	   :77777,                  I7                     II77777
	 =7777,                       77                   ?I777,
	7777                           I7                  ,777
	+7                               7+                 7:
	                                  77              77
	                                    77          77
	                                      7I77??777I
	-->
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{{title}}</title>

	<meta name="description" content="">

	<meta property="og:image" content="">
	<meta property="og:title" content="">
	<meta property="og:description" content="">


	<meta name="viewport" content="width=device-width,initial-scale=1">

	<!-- build:css({.tmp,app}) styles/vendor.css -->
	<!-- bower:css -->
	<link rel='stylesheet' href='../../bower_components/perfect-scrollbar/src/perfect-scrollbar.css' />
	<!-- endbower -->
	<!-- endbuild -->

	<!-- build:css({.tmp,app}) styles/main.css -->
	<link rel="stylesheet" href="styles/main.css">
	<!-- endbuild -->
	
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

	<!-- build:js({.tmp}) scripts/vendor/modernizr.js -->
	<script src="bower_components/modernizr/modernizr.js"></script>
	<!-- endbuild -->
</head>
<body>

	{{body}}

	{{>footer}}


	{{>scripts}}

</body>
</html>
