<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{{title}}</title>

	<meta name="description" content="">

	<meta property="og:image" content="">
	<meta property="og:title" content="">
	<meta property="og:description" content="">


	<meta name="viewport" content="width=device-width,initial-scale=1">

	<!-- build:css({.tmp,app}) styles/vendor.css -->
	<!-- bower:css -->
	<!-- endbower -->
	<!-- endbuild -->

	<!-- build:css({.tmp,app}) styles/main.css -->
	<link rel="stylesheet" href="styles/main.css">
	<!-- endbuild -->

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

	<!-- build:js({.tmp}) scripts/vendor/modernizr.js -->
	<script src="bower_components/modernizr/modernizr.js"></script>
	<!-- endbuild -->
</head>
<body>
    {{>header}}

	{{body}}

	{{>footer}}

	{{>scripts}}
</body>
</html>
