*
	box-sizing: border-box
	-moz-box-sizing: border-box

html,
body
	height: 100%

body
	font-family: 'Open Sans', sans-serif
	font-size: 16px
	-webkit-font-smoothing: antialiased
	color: #fff

.icon
	display: inline-block
