@font-face {
    font-family: 'disposabledroid_bbbold';
    src: url('../fonts/DisposableDroidBB_bld-webfont.eot');
    src: url('../fonts/DisposableDroidBB_bld-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DisposableDroidBB_bld-webfont.woff2') format('woff2'),
         url('../fonts/DisposableDroidBB_bld-webfont.woff') format('woff'),
         url('../fonts/DisposableDroidBB_bld-webfont.ttf') format('truetype'),
         url('../fonts/DisposableDroidBB_bld-webfont.svg#disposabledroid_bbbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url('../fonts/Montserrat-Regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(../fonts/Montserrat-Bold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
