@font-face {
  font-family: 'MunroSmall';
  src: url('../fonts/munrosmall-webfont.eot');
  src: url('../fonts/munrosmall-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/munrosmall-webfont.woff2') format('woff2'),
     url('../fonts/munrosmall-webfont.woff') format('woff'),
     url('../fonts/munrosmall-webfont.ttf') format('truetype'),
     url('../fonts/munrosmall-webfont.svg#munro_smallregular') format('svg');
  font-weight: normal;
  font-style: normal;

}
