@font-face {
    font-family: 'disposabledroid_bbbold';
    src: url('../fonts/DisposableDroidBB_bld-webfont.eot');
    src: url('../fonts/DisposableDroidBB_bld-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DisposableDroidBB_bld-webfont.woff2') format('woff2'),
         url('../fonts/DisposableDroidBB_bld-webfont.woff') format('woff'),
         url('../fonts/DisposableDroidBB_bld-webfont.ttf') format('truetype'),
         url('../fonts/DisposableDroidBB_bld-webfont.svg#disposabledroid_bbbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
