.draggable
  width: 100%
  height: 305px
  // border: solid 1px red
  .intructions
    width: 215px
    height: 180px
    &:after
      content: ""
      background: url(../images/border_dashed.svg) 0 0 no-repeat
      opacity: .4
      top: 0
      left: 0
      bottom: 0
      right: 0
      position: absolute
      z-index: -1
    //border: 2px dashed  #7a7c82
    @include vertical-align
    margin: 0 auto
    .wrapper-icon
      @include vertical-align
      margin: 0 auto
      text-align: center
      img
        opacity: .2
      p
        line-height: 14px
        width: 75px
        font-size: 12px
        font-weight: bold
        margin: 0 auto
#start
  display: block
  width: 390px
  margin: 0 auto
  background: #3b7447
  text-align: center
  height: 60px
  color: rgba(white,.15)
  line-height: 60px
  position: absolute
  bottom: 6px
  left: 0
  right: 0
