.oncount
  width: 100%
  height: 100%
  position: absolute
  top: 0
  z-index: 1
  background: #21242e
  transform: translateY(-10px)
  opacity: 0
  transition: all .3s ease-in
  visibility: hidden
  &.show
    visibility: visible
    opacity: 1
    transform: translateY(0)
  .background
    width: 100%
    height: 100%
    position: absolute
    top: 0
    z-index: 2
    background: url(../images/background_oncount.png) 50% 50% no-repeat
    background-size: cover
.count,
.result
  @include vertical-align
  margin: 0 auto
  z-index: 3
  text-align: center
  .reduced
    @extend .font_number
    display: inline-flex
    font-size: 64px
    color: white
  .unit
    position: relative
    bottom: -3px
  .full
    font-size: 12px
    font-weight: bold
