---
title: Pixel Counter
---
<section class="draggable">
  <div class="intructions">
    <figure class="wrapper-icon">
      <img src="images/folder.png" alt="">
      <p class="description">
        Drag folder to count
      </p>
    </figure>
  </div>
</section>
<a id="start" title="Start Counting">Start Counting</a>
