---
title: Pixel Counter
---
{{!--
  Dragstate
  class's none=dragfold, drophere=drophover, dropped=folderin
--}}
<section class="draggable hidden">
  <div class="intructions">
    <figure class="wrapper-icon">

      {{!-- Start --}}
      <img src="images/folder.svg" alt="">
      <p class="description">
        Drag folder to count
      </p>

      {{!-- Drophere --}}
      {{!-- <img src="images/arrow.png" alt="">
      <p class="description">
        Drop here :)
      </p> --}}

      {{!-- Folder --}}
      {{!-- <img src="images/folder.svg" alt="">
      <p class="description">
        <spam class="title">Pictures</spam>
        <br>
        <spam class="quantity"><span class="number">250</span> images</spam>
      </p> --}}

    </figure>
  </div>
</section>
<a id="start" class="hidden" title="Start Counting">Start Counting</a>
{{!-- Modal Setting --}}
<section class="modal">
  <div class="setting">
    <nav>
      <div class="left">
        <a id="dismiss" title="Dismiss Setting"><i class="fa fa-times"></i></a>
      </div>
      <div class="title-bar">
       Filter by extensions
      </div>
      <div class="right">
        <a id="save" title="Save Setting"><i class="fa fa-check"></i></a>
      </div>
    </nav>
    <div class="filter">
      <table>
        <tr>
          <td colspan="3">
            <input id="all" type="checkbox" name="all" value="all" />
            <label for="all">All</label>
            <input id="none" type="checkbox" name="none" value="none" />
            <label for="none">None</label>
          </td>
        </tr>
        <tr>
          <td>
            <input id="bmp" type="checkbox" name="extensions" value="bmp" />
            <label for="bmp">.bmp</label>
          </td>
          <td>
            <input id="jpeg" type="checkbox" name="extensions" value="jpeg" />
            <label for="jpeg">.jpeg</label>
          </td>
          <td>
            <input id="tiff" type="checkbox" name="extensions" value="tiff" />
            <label for="tiff">.tiff</label>
          </td>
        </tr>
        <tr>
          <td>
            <input id="gif" type="checkbox" name="extensions" value="gif" />
            <label for="gif">.gif</label>
          </td>
          <td>
            <input id="png" type="checkbox" name="extensions" value="png" />
            <label for="png">.png</label>
          </td>
          <td>
            <input id="webp" type="checkbox" name="extensions" value="webp" />
            <label for="webp">.webp</label>
          </td>
        </tr>
        <tr>
          <td>
            <input id="jpg" type="checkbox" name="extensions" value="jpg" />
            <label for="jpg">.jpg</label>
          </td>
          <td>
            <input id="psd" type="checkbox" name="extensions" value="psd" />
            <label for="psd">.psd</label>
          </td>
          <td>
            <input id="svg" type="checkbox" name="extensions" value="svg" />
            <label for="svg">.svg</label>
          </td>
        </tr>
      </table>
    </div>
  </div>
</section>
{{!-- OnCount --}}
<section class="oncount hidden">
  <div class="background"></div>
  <div class="count">

    <div class="reduced">
      <span class="number">1.564</span>
      <span class="unit">M</span>
    </div>
    <div class="full">
      <span class="number">1.564.514.543</span>
    </div>

  </div>
</section>
{{!-- Finish --}}
<section class="finish">

  <div class="wrapper-result">
    <div class="result">
      <div class="reduced">
        <span class="number">1.564</span>
        <span class="unit">M</span>
      </div>
      <div class="full">
        <span class="number">1.564.514.543</span>
        <span class="unit">pixels</span>
      </div>
      <div class="folder">
        in '<span class="name">Pictures</span>'
      </div>
    </div>
  </div>
  <div class="wrapper-cta">
    <a id="start-over" class="" title="Start Over">Start over</a>
    <a id="shared-twitter" class="" title="Shared Twitter"><i class="fa fa-twitter"></i></a>
    <a id="shared-facebook" class="" title="Shared Facebook"><i class="fa fa-facebook"></i></a>
  </div>
</section>

