// Icons from directory ""
%icon {
	background-repeat: no-repeat
}
.icon-cart,
.icon-cart\:regular {
	@extend %icon;
	background-image: url('../images/icons/icons.svg');
	background-position: 0 0;
}
.icon-cart-dims {
	width: 32px;
	height: 32px;
}
.icon-mate,
.icon-mate\:regular {
	@extend %icon;
	background-image: url('../images/icons/icons.svg');
	background-position: 0 -32px;
}
.icon-mate-dims {
	width: 32px;
	height: 32px;
}
.icon-tshirt,
.icon-tshirt\:regular {
	@extend %icon;
	background-image: url('../images/icons/icons.svg');
	background-position: 0 -64px;
}
.icon-tshirt-dims {
	width: 32px;
	height: 32px;
}
.icon-sticker,
.icon-sticker\:regular {
	@extend %icon;
	background-image: url('../images/icons/icons.svg');
	background-position: 0 -96px;
}
.icon-sticker-dims {
	width: 32px;
	height: 32px;
}
.icon-cup,
.icon-cup\:regular {
	@extend %icon;
	background-image: url('../images/icons/icons.svg');
	background-position: 0 -128px;
}
.icon-cup-dims {
	width: 32px;
	height: 32px;
}
.icon-glass,
.icon-glass\:regular {
	@extend %icon;
	background-image: url('../images/icons/icons.svg');
	background-position: 0 -160px;
}
.icon-glass-dims {
	width: 32px;
	height: 32px;
}
