<section class="download">
	<div class="wrapper">
		<div class="clearfix">
			
			<article class="dist">
				<figure>
					<img src="images/osx@2x.png" alt="" class="icon">
				</figure>
				<a href="#" class="download" >Download</a>
				<p class="description">OSX 10.8 or higher</p>
			</article>
			<article class="dist">
				<figure>
					<img src="images/win@2x.png" alt="" class="icon">
				</figure>
				<a href="#" class="download" >Download</a>
				<p class="description">Windows 7 or higher</p>
			</article>

		</div>
		<div class="clearfix">
			
			<article class="dist">
				<figure>
					<img src="images/linux@2x.png" alt="" class="icon">
				</figure>
				<a href="#" class="download" >Download</a>
				<p class="description">Linux</p>
			</article>
			<article class="dist">
				<figure>
					<img src="images/github@2x.png" alt="" class="icon">
				</figure>
				<a href="#" class="download" >Fork it</a>
				<p class="description">Or install via npm</p>
			</article>

		</div>
	</div>
</section>
