<section class="finish">

  <div class="wrapper-result">
    <div class="result">
      <div class="reduced">
        <span class="number"></span>
        <span class="unit"></span>
      </div>
      <div class="full">
        <span class="number"></span>
        <span class="unit">pixels</span>
      </div>
      <div class="folder">
        in '<span class="name"></span>'
      </div>
    </div>
  </div>
  <div class="wrapper-cta">
    <a class="start-over"  title="Start Over">Start over</a>
    <a class="shared-twitter"  title="Shared Twitter"><i class="fa fa-twitter"></i></a>
    <a class="shared-facebook"  title="Shared Facebook"><i class="fa fa-facebook"></i></a>
  </div>

</section>
