<section class="first">
  {{!--
    Dragstate
    class's none=dragfold, drophere=drophover, dropped=folderin
  --}}
  <article class="draggable dragfold">

    <div class="intructions">
      <figure class="wrapper-icon">

        {{!-- Start --}}
        <img src="images/folder.svg" alt="">
        <p class="description">
          Drag folder to count
        </p>

        {{!-- Drophere --}}
        {{!-- <img src="images/arrow.png" alt="">
        <p class="description">
          Drop here :)
        </p> --}}

        {{!-- Folder --}}
        {{!-- <img src="images/folder.svg" alt="">
        <p class="description">
          <spam class="title">Pictures</spam>
          <br>
          <spam class="quantity"><span class="number">250</span> images</spam>
        </p> --}}

      </figure>
    </div>

  </article>
  <a class="start disable" title="Start Counting">Start Counting</a>
</section>
