<section id="flow"> 
	<div class="container" id="app"> 
		<div class="shotAnimation skrollable skrollable-before" data-anchor-target="#flow" 
				data--140-top="" 
				data--100-bottom=""> 
			<div class="animationProgress"> 
				<ul> 
					<li class="active"></li> 
					<li 
							data--1000-top="" class="skrollable skrollable-before"></li> 
					<li 
							data--1900-top="" class="skrollable skrollable-before"></li> 
				</ul> 
				<div class="bar progress skrollable skrollable-before" 
						data--100-top="right: 400px;" 
						data--1000-top="right: 250px;" 
						data--1300-top="right: 250px;" 
						data--1900-top="right: 100px;" style="right: 400px;"></div> 
				<div class="bar"></div> 
			</div> 
			<!-- Images 1 and 3 -->
			<div class="shots skrollable skrollable-before" style="position: absolute; left: 0px; top: 20px;" 
					data--100-top="left: 0px; opacity: 1;" 
					data--300-top="left: -100px; opacity: 0;"
					data--1300-top="left: -100px; opacity: 0;" 
					data--1600-top="left: 0px; opacity: 1;"> 
				
				<div class="screen"></div> 
				
				<div class="screen screenA skrollable skrollable-before" 
						data--100-top="opacity:1;" 
						data--300-top="opacity:0;"></div> 
				<div class="screen screenC skrollable skrollable-before"  
						data--1300-top="opacity:0;" 
						data--1600-top="opacity:1;"> 
				</div> 
				

			</div> 
			
			<!-- Images 2-->
			<div class="shots skrollable skrollable-before" style="position: absolute; right: -100px; top: 20px;" 
					data--299-top="display:none;" 
					data--300-top="right: -100px; opacity:0;display:block;" 
					data--600-top="right:0px; opacity:1;" 
					data--900-top="right:0px; opacity:1;" 
					data--1200-top="right:-100px; opacity:0;display:block;"
					data--1201-top="display:none;"> 
				<div class="screen screenB skrollable skrollable-before"  
					data--300-top="opacity:0;" 
					data--600-top="opacity:1;"> 
				</div> 
			</div> 

			<!-- Copy 1 -->
			<div class="text_column skrollable skrollable-before" style="right: 0px;" 
					data--100-top="opacity: 1; right: 0px;" 
					data--300-top="opacity: 0; right: -40px; display:block;" 
					data--301-top="display:none;"> 
				<div> 
					<h2>Your New Checking Account</h2> 
					<p>Think of the Xapo Wallet like a checking account. Your Xapo Wallet allows you to easily access your money and use your bitcoins to pay for everyday expenses.</p> 
				</div> 
			</div> 

			<!-- Copy 2 -->
			<div class="text_column left skrollable skrollable-before" style="left: -40px;" 
					data--300-top="opacity: 0; left: -40px;" 
					data--600-top="opacity: 1; left: 0px;" 
					data--900-top="opacity: 1; left: 0px;" 
					data--1200-top="opacity: 0; left: -40px;">
					
				<div> 
					<h2>Receiving is just as easy</h2> 
					<p>It's never been easier to receive money from friends or family and you won't be charged any fees. Just have them send funds directly to your Xapo Wallet address to instantly access your money on the go.</p> 
				</div> 
			</div> 
			
			<!-- Copy 3 -->
			<div class="text_column skrollable skrollable-before" style="right: -40px;" 
					data--1200-top="opacity: 0; right: -40px;" 
					data--1600-top="opacity: 1; right: 0px;"> 
				<div> 
					<h2>All It Takes Is A Click</h2> 
					<p>When you want to buy something or send bitcoins to someone, simply click the Pay button, enter the amount you want to send and add the email or bitcoin address of the person or merchant who is receiving the funds.</p> 
				</div> 
			</div> 

		</div> 
	</div> 
</section>
