<section id="flow"> 
	<div class="container" id="app"> 
		<div class="shotAnimation skrollable skrollable-before" data-anchor-target="#flow" 
				data--140-top="" 
				data--100-bottom=""> 
			<!-- Animation Progress -->
				<div class="animationProgress"> 
					<ul> 
						<li class="active"></li> 
						<li 
								data--1000-top="" class="skrollable skrollable-before"></li> 
						<li 
								data--1900-top="" class="skrollable skrollable-before"></li> 
					</ul> 
					<div class="bar progress skrollable skrollable-before" 
							data--100-top="right: 400px;" 
							data--1000-top="right: 250px;" 
							data--1300-top="right: 250px;" 
							data--1900-top="right: 100px;" style="right: 400px;"></div> 
					<div class="bar"></div> 
				</div> 
			
			<!-- Step 1  -->
				<!-- Copy-->
				<div class="text_column skrollable skrollable-before" style="right: 0px;" 
						data--100-top="opacity: 1; right: 0px;" 
						data--300-top="opacity: 0; right: -40px; display:block;" 
						data--301-top="display:none;"> 
					<div> 
						<h2>Measure your work</h2>
						<p>Drag your project and press the green button to measure how many pixels do you needed to build it.</p>
					</div> 
				</div> 
				<!-- Images -->
				<div class="shots skrollable skrollable-before" 
						data--100-top="left: 0px; opacity: 1;" 
						data--300-top="left: -100px; opacity: 0;"> 
					
					<div class="screen screenA skrollable skrollable-before" 
							data--100-top="opacity:1;" 
							data--300-top="opacity:0;"></div> 
				</div> 

			<!-- Step 2  -->
				<!-- Copy -->
				<div class="text_column left skrollable skrollable-before"  
						data--300-top="opacity: 0; left: -40px;" 
						data--600-top="opacity: 1; left: 0px;" 
						data--900-top="opacity: 1; left: 0px;" 
						data--1200-top="opacity: 0; left: -40px;">
						
					<div> 
						<h2>Let it count</h2>
						<p>The script PixelCounter.js will check all of your files and count only the ones with the ¿pre?selected extension.</p>
					</div> 
				</div> 
				<!-- Images -->
				<div class="shots right skrollable skrollable-before" 
						data--299-top="display:none;" 
						data--300-top="right: -100px; opacity:0;display:block;" 
						data--600-top="right:0px; opacity:1;" 
						data--900-top="right:0px; opacity:1;" 
						data--1200-top="right:-100px; opacity:0;display:block;"
						data--1201-top="display:none;"> 
					<div class="screen screenB skrollable skrollable-before"  
						data--300-top="opacity:0;" 
						data--600-top="opacity:1;"> 
					</div> 
				</div> 

			<!-- Step 3-->
				<!-- Copy -->
				<div class="text_column skrollable skrollable-before" style="right: -40px;" 
						data--1200-top="opacity: 0; right: -40px;" 
						data--1600-top="opacity: 1; right: 0px;"> 
					<div> 
						<h2>Share it</h2>
						<p>When the counter finish, you are going to have the access to show it to your followers on Twitter and Facebook</p>
					</div> 
				</div> 
				<!-- Images -->
				<div class="shots skrollable skrollable-before" 
						data--1300-top="left: -100px; opacity: 0;" 
						data--1600-top="left: 0px; opacity: 1;"> 

					<div class="screen screenC skrollable skrollable-before"  
							data--1300-top="opacity:0;" 
							data--1600-top="opacity:1;"> 
					</div> 
					
				</div> 

		</div> 
	</div> 
</section>
