<nav>
	<div class="left">
		<a id="close" title="Close"></a>
		<a id="minimizer" title="Minimizer"></a>
	</div>
	<div class="title-bar">
	 Pixel Counter
	</div>
	<div class="right">
		<a id="setting" title="Setting"><i class="fa fa-cog"></i></a>
		<a id="debug" title="Developer Tool"><i class="fa fa-code"></i></a>
	</div>
</nav>
