<section class="oncount ">
  <div class="background"></div>
  <div class="count">

    <div class="reduced">
      <span class="number">1.564</span>
      <span class="unit">M</span>
    </div>
    <div class="full">
      <span class="number">1.564.514.543</span>
    </div>

  </div>
</section>
