<section class="oncount">
  <div class="background"></div>
  <div class="count">

    <div class="reduced">
      <span class="number"></span>
      <span class="unit"></span>
    </div>
    <div class="full">
      <span class="number"></span>
    </div>

  </div>
</section>
