<section class="presentation">

	<figure class="logo">
		<img src="images/pixelcounter_logo.png" alt="">
		<h1><strong>Pixel Counter</strong> is an open source application for counting the pixels of your images</h1>
	</figure>
	<div class="cta">
		<a class="download"><i class="fa fa-apple"></i> <span>Download</span></a>
		<a class="all">All Platforms</a><span class="divider"> | </span><a href="#" class="fork" target="_blank">Fork it on Github</a>
	</div>
	<figure class="screen_presentation">
		<img src="images/screen_presentation.png" alt="">
	</figure>

</section>